<!-- Central Block -->
<div *ngIf="gameRunning"
id="central-window" 
class="flex flex-col text-center bg-amber-100 
      w-full mx-10 xl:w-1/2 lg:w-2/5 sm:w-2/3 h-fit-content 
      rounded-lg mx-auto my-32 p-10 shadow-2xl">
    <!-- Title -->
    <div class="p-8 bg-amber-600 rounded-lg shadow-xl transition duration-400 ease-out hover:scale-105">
        <h1 class="font-bold text-4xl text-white">The Anagramme Guesser</h1>
    </div>
    <!-- Asking Question Block-->
    <div id="askQuestion" *ngIf="toggleBtn" >
      <h2 class="mt-10 text-xl ">Vous devez trouver un anagramme de : </h2>
      <p class="text-bold text-3xl mt-8 transition duration-400 ease-out hover:scale-110">{{wordToGuess}}</p>
      <h2 class="mt-10 text-xl "> Essayez un mot : </h2>
    </div>
    <!-- Display Score and Infos about the Reading -->
    <div id="displayResponses" *ngIf="toggleBtn == false">
      <p class="mt-10 text-xl">Score : {{score}}</p>
      <p class="mt-10 text-xl">{{response}}</p>
      <p class="mt-10 text-xl">Les Anagrammes du mot {{wordToGuess}}  sont :</p>
      <ul class="mt-5 text-lg">
        <li *ngFor="let item of allAnagramms"> - {{item}}</li>
      </ul>
    </div>
    <!-- Form with Buttons -->
    <form class="flex flex-col">
        <input 
        *ngIf="toggleBtn"
        class="mt-10 h-10 p-5 rounded-md shadow-xl transition duration-400 ease-out hover:scale-105" type="text" id="username"
        name="username" [(ngModel)]="wordToCompare">
        <button
        *ngIf="toggleBtn"
        class="text-xl rounded-md mt-8 text-white p-2 bg-amber-600 hover:bg-amber-500 shadow-xl transition duration-400 ease-out hover:scale-105" 
        (click)="sendResult()">Tester
        </button>
        <button
        *ngIf="toggleBtn == false"
        class="text-xl rounded-md mt-8 text-white p-2 bg-amber-600 hover:bg-amber-500 shadow-xl transition duration-400 ease-out hover:scale-105" 
        (click)="next()">Passer à la suite
        </button>
    </form>
</div>
<!-- The End Block (Display the Score) -->
<div *ngIf="gameRunning == false"
id="central-window" 
class="flex flex-col text-center bg-amber-100 
      w-full mx-10 xl:w-1/2 lg:w-2/5 sm:w-2/3 h-fit-content 
      rounded-lg mx-auto my-32 p-10 shadow-2xl">
    <div class="p-8 bg-amber-600 rounded-lg shadow-xl transition duration-400 ease-out hover:scale-105">
        <h1 class="font-bold text-4xl text-white">The Anagramme Guesser</h1>
    </div>
  <!-- Here will appear a "randomly" Selected Word ! -->
  <h3 class="text-2xl text-bold mt-10">Votre score sur cette partie est : {{score}}</h3>
    <button class="text-xl rounded-md mt-8 text-white p-2 bg-amber-600 hover:bg-amber-500 shadow-xl transition duration-400 ease-out hover:scale-105" (click)="hereWeGoAgain()">Cliquez pour rejouer !</button>
</div>





